/* styles.css */

.titol{
    padding: 30px;
    text-align: center;
}

.product-list {
    width: 90%;
    padding-left: 15.5px;
    padding-bottom: 20px;
}

.product {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-right: 20px;
    margin-bottom: 10px; /* Si quieres un margen en la parte inferior también */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33.333% - 10px); /* Ajusta el tamaño de cada producto */
    box-sizing: border-box;
}

.product h2, .product p { 
    flex: 1; 
    margin: 0; 
    padding: 0 10px;
}

.product h2 { 
    text-align: left; 
} 

.product p { 
    text-align: left; 
}
