.loginsignup{
    height: 70vh;
    background-image: url('../../Components/Assets/istockphoto-1457979959-612x612.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    padding-top: 100px;
    width: 100%;
}

.loginsignup-container{
    width: 580px;
    height: 400px;
    background: white;
    margin: auto;
    padding: 40px 60px;
    border-radius: 10%;
}

.loginsignup-container h1{
    margin: 20px 0px;
}

.loginsignup-fields{
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin-top: 30px;
}

.loginsignup-fields input{
    height: 52px;
    width: 97%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
}

.loginsignup-container button{
    width: 101%;
    height: 52px;
    color: white;
    background: #171717;
    margin-top: 30px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.loginsignup-login {
    margin-top: -12px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}

.loginsignup-login .link-text{
    color: #0069F0;
    font-weight: 600;
}

/* .link-text{
    text-decoration: none;
} */